.frameWork{
height: 400px;
margin-top: 100px;
padding-bottom: 20px;
}



.box{
    display: inline-block;
    width:300px;
    height: 200px;
    border-width: 7px;
    border-style: solid;
    border-color:rgb(94, 106, 209);
    text-align: center;
    padding-top:100px;
    color:rgb(24, 122, 73);
    font-size: large;
    position: relative;
    top:70px;
    left:366px;

}
#box2{
    margin-left:236px;
}
.btn{
    width: 150px;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    border-color:rgb(94, 106, 209);
    text-align: center;
    
    color:rgb(24, 122, 73);
    font-size: large;
    margin-top: 50px;
    margin-left: 71px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    top:175px;
    left:649px;

}
#title{
    margin-bottom:10px;
    margin-top:-37px;
font-size: 47px;
    text-align: center;
}
.usr_btns{
    display: inline;
}
.clk{
    position: relative;
    width: 75px;
    top: 269px;
    left: 75px;
    border-radius: 0;
    margin-left:8px;
}

